body, html {
    font-family: "Roboto", sans-serif;
    background:pink;
    height: 100%;
}

.logo {
    background-image: url('img/bubbles.jpg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

.active {
    color: red;
  }

#media-player{
    :hover {

        transform: scale(2);
        transition: .5s;
    }
}